# Ignora todos os arquivos da pasta
entrada/*

# Mantém a pasta
!entrada/.gitkeep

# Ignora todos os arquivos da pasta
saida/*

# Mantém a pasta
!saida/.gitkeep

# Ignora todos os arquivos da pasta
divididos/*

# Mantém a pasta
!divididos/.gitkeep

# Cache do Python
__pycache__/
*.py[cod]

# Ambiente virtual
.venv/
venv/

# Configurações do VS Code
.vscode/

# Arquivos utilizados durante o desenvolvimento
temp*

# Debug
debug_ia/